.dino {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
}

.obstacle {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: orange;
    background-image: url('/images/spike.png');
    bottom: 0px;
}